.info_block {
  background: #f0f2f3;
  box-shadow: 0.1px 0.5px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
  min-height: 40px;
  position: relative;

  &_small {
  }

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: 12px;
    background: url('../../../assets/icons/icon_warning_v3_grey.svg') no-repeat center/cover;
  }

  &__text {
    font-size: 12px;
    line-height: 130%;
    padding-left: 35px;
    color: #333333;
  }
}
