.info_tooltip {
  position: relative;
  display: inline-block;

  &:hover &__text {
    display: block;
  }

  &__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url('../../../assets/icons/icon_warning_v3_grey.svg') no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &__text {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    background: #F0F2F3;
    box-shadow: 0.1px 0.5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    min-width: 231px;
    min-height: 54px;
    font-size: 11px;
    line-height: 13px;
    color: #000;
    padding: 10px;
    z-index: 1;
  }
}
