.category_card {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.4%, rgba(0, 0, 0, 0.7) 100%), #074E5C;
  border: 1px solid #074E5C;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 30px 20px;
  text-align: center;
  width: 262px;
  height: 220px;
  &:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
  }
  &:hover &__label {
    color: #ff8c00;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__icon {
    flex-grow: 1;
  }
  &__label {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}