.contact_list_select {
  display: flex;

}

.contact_menu_list {
  padding: 5px;
  margin: 0 15px;
  &__empty {
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }

  .contact_card {
    margin: 5px 0;
    padding: 5px 0;
  }
}
