.counter_badge {
  display: inline-block;
  background: #044C5A;
  border-radius: 10px;
  min-width: 20px;

  &__text {
    padding: 3px 6px;
    font-size: 12px;
    display: block;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
  }
}